# 1.Manipulate using a list.

1.To add new elements to the end of the list

2.To reverse elements in the list

3.To display the same list of elements multiple times.

4.To concatenate two list

5.To sort the elements in the list in ascending order

In [95]:
list =[1,2,3,4,5]

In [96]:
print(list)

[1, 2, 3, 4, 5]

In [97]:
list.append(6)
print(list)

[1, 2, 3, 4, 5, 6]

In [98]:
list.reverse()
print(list)

[6, 5, 4, 3, 2, 1]

In [99]:
list.reverse()
no_of_times = int(input("Enter the number of time to repeat: "))
for rep in range(no_of_times):
    print(list)

Enter the number of time to repeat5
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]

In [100]:
listA = [1, 2, 3, 4, 5]
listB = ['a', 'b', 'c', 'd']
result_list = listA+listB
print(result_list)

[1, 2, 3, 4, 5, 'a', 'b', 'c', 'd']

In [102]:
listC = [100, 90,80,70,50,40,60]
listC.sort() 
print(listC)

[40, 50, 60, 70, 80, 90, 100]

# 2.Write a Python program to do in the tuples.

1.Manipulate using tuples.

2.To add new elements to the end of the tuples.

3.To reverse elements in the list.

4.To display the elements of the same tuple multiple times.

5.To concatenate two tuples.

6.To sort the elements in the list in ascending order.

In [69]:
tuple = (1, 2, 3, 4)
print(tuple)

(1, 2, 3, 4)

In [72]:
tuple = tuple + (5,) 
print(tuple)

(1, 2, 3, 4, 5)

In [74]:
tuple2 = (6,7,8,9)
tuple = tuple + tuple2
print(tuple)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 6, 7, 8, 9)

In [75]:
print(tuple[::-1])

(9, 8, 7, 6, 9, 8, 7, 6, 5, 4, 3, 2, 1)

In [77]:
rep = int(input("Enter the num of times"))
new_tuple = tuple*rep
print('\n',new_tuple)

Enter the num of times10

 (1, 2, 3, 4, 5, 6, 7, 8, 9, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9, 6, 7, 8, 9)

In [80]:
fruits = ("Apple", "Banana", "Strawberry")
vegetable = ("Carrot", "Beetroot", "lemon")
grocery_list = fruits + vegetable

print(grocery_list)

('Apple', 'Banana', 'Strawberry', 'Carrot', 'Beetroot', 'lemon')

In [81]:
items = []
for i in range (len(grocery_list)):
    items.append(grocery_list[i])
    
items.sort()
print(items)

['Apple', 'Banana', 'Beetroot', 'Carrot', 'Strawberry', 'lemon']

# 3. Write a python program to implement the following using list.

1.Create a list with integers (minimum 10 numbers)

2.How to display the last number in the list.

3.Command for displaying the values from the list [0:4]

4.Command for displaying the values from the list [2:]

5.Command for displaying the values from the list [:6]

In [83]:
nums = [1,2,3,4,5,6,7,8,9,10]

print(nums)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [84]:
print(nums[-1])

10

In [85]:
print(nums[1:5])

[2, 3, 4, 5]

In [86]:
print(nums[2:])

[3, 4, 5, 6, 7, 8, 9, 10]

In [87]:
print(nums[:6])

[1, 2, 3, 4, 5, 6]

# 4. Write a Python program: tuple1 = (10,50,20,40,30)

1.To display the elements 10 and 50 from tuple1

2.To display the length of a tuple1.

3.To find the minimum element from tuple1

4.To add all elements in the tuple1.

5.To display the same tuple1 multiple times

In [88]:
tuple1 = (10,50,20,40,30)
print(tuple1[:2])

(10, 50)

In [89]:
print(len(tuple1))

5

In [90]:
print(min(tuple1))

10

In [91]:
print(sum(tuple1))

150

In [93]:
rep = int(input("Enter count: "))
print(tuple1*rep)

Enter count: 3
(10, 50, 20, 40, 30, 10, 50, 20, 40, 30, 10, 50, 20, 40, 30)

# 5. Write a Python program:

1.To calculate the length of a string

2.To reverse words in a string

3.To display the same string multiple times

4.To concatenate two strings

5.Str1" South India", using string slicing to display "India"

In [59]:
movie = "Avenger End Game"
print(len(movie))

16

In [60]:
words = movie.split()
rev_words = words[::-1]
print(rev_words)

['Game', 'End', 'Avenger']

In [63]:
print((movie+"\n")*10)

Avenger End Game
Avenger End Game
Avenger End Game
Avenger End Game
Avenger End Game
Avenger End Game
Avenger End Game
Avenger End Game
Avenger End Game
Avenger End Game

In [64]:
movie = "Avengers"
tag = " End Game"

movie_title = movie+tag
print(movie_title)

Avengers End Game

In [15]:
Str1 = "South India"
print(Str1[6:])

India

# 6.Perform the following

1.Cretaing the dictionary.

2.Accessing the values and keys in the Dictionary.

3.Updating the dictionary using a function.

4.Clear and delete the dictionary values.

In [55]:
player = {'Name': "MSD", "Age": 45, "Sport":"cricket", "contry": "India"}
print(player)

{'Name': 'MSD', 'Age': 45, 'Sport': 'cricket', 'contry': 'India'}

In [56]:
for i, j in player.items():
    print(f"{i}:{j}")

Name:MSD
Age:45
Sport:cricket
contry:India

In [57]:
def update_player(player, i, j):
    player[i] = j
    
update_player(player, "Home town", "Ranchi")

print(player)

{'Name': 'MSD', 'Age': 45, 'Sport': 'cricket', 'contry': 'India', 'Home town': 'Ranchi'}

In [58]:
player_details = player.copy()

player.clear()

del player

# print(player)
print(player_details)

{'Name': 'MSD', 'Age': 45, 'Sport': 'cricket', 'contry': 'India', 'Home town': 'Ranchi'}

# 7.Python program to insert a number to any position in a list

In [31]:
nums = [12, 34, 32, 43, 67, 53, 99, 78, 102, 83, 56, 43]

print("number: ",nums)

nums.insert(3, 1000)
print('\n Insert 3rd position: ' ,nums)

number:  [12, 34, 32, 43, 67, 53, 99, 78, 102, 83, 56, 43]

 Insert 3rd position:  [12, 34, 32, 1000, 43, 67, 53, 99, 78, 102, 83, 56, 43]

# 8.Pyton program to delete an element from a list by index

In [28]:
print("number: ",nums)

nums.pop(4)

print("delete 4th element :",nums)

del nums[5]
print("delete 5th element :",nums)

number:  [12, 34, 32, 1000, 67, 99, 78, 102, 83, 56, 43]
delete 4th element : [12, 34, 32, 1000, 99, 78, 102, 83, 56, 43]
delete 5th element : [12, 34, 32, 1000, 99, 102, 83, 56, 43]

# 9.Write a program to display the numbers from 1 to 100

In [36]:
for num in range(1, 101):
    print(num)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

# 10.write a python program to find the sum of all items in a tuple

In [34]:
values = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1)
print(sum(values))

100