# 1.Manipulate using a list.

1.To add new elements to the end of the list

2.To reverse elements in the list

3.To display the same list of elements multiple times.

4.To concatenate two list

5.To sort the elements in the list in ascending order

In [95]:
list =[1,2,3,4,5]

In [96]:
print(list)

[1, 2, 3, 4, 5]

In [97]:
list.append(6)
print(list)

[1, 2, 3, 4, 5, 6]

In [98]:
list.reverse()
print(list)

[6, 5, 4, 3, 2, 1]

In [99]:
list.reverse()
no_of_times = int(input("Enter the number of time to repeat: "))
for rep in range(no_of_times):
    print(list)

Enter the number of time to repeat5
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]

In [100]:
listA = [1, 2, 3, 4, 5]
listB = ['a', 'b', 'c', 'd']
result_list = listA+listB
print(result_list)

[1, 2, 3, 4, 5, 'a', 'b', 'c', 'd']

In [102]:
listC = [100, 90,80,70,50,40,60]
listC.sort() 
print(listC)

[40, 50, 60, 70, 80, 90, 100]

# 2.Write a Python program to do in the tuples.

1.Manipulate using tuples.

2.To add new elements to the end of the tuples.

3.To reverse elements in the list.

4.To display the elements of the same tuple multiple times.

5.To concatenate two tuples.

6.To sort the elements in the list in ascending order.

In [69]:
tuple = (1, 2, 3, 4)
print(tuple)

(1, 2, 3, 4)

In [72]:
tuple = tuple + (5,) 
print(tuple)

(1, 2, 3, 4, 5)

In [74]:
tuple2 = (6,7,8,9)
tuple = tuple + tuple2
print(tuple)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 6, 7, 8, 9)

In [75]:
print(tuple[::-1])

(9, 8, 7, 6, 9, 8, 7, 6, 5, 4, 3, 2, 1)

In [77]:
rep = int(input("Enter the num of times"))
new_tuple = tuple*rep
print('\n',new_tuple)

Enter the num of times10

 (1, 2, 3, 4, 5, 6, 7, 8, 9, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9, 6, 7, 8, 9)

In [80]:
fruits = ("Apple", "Banana", "Strawberry")
vegetable = ("Carrot", "Beetroot", "lemon")
grocery_list = fruits + vegetable

print(grocery_list)

('Apple', 'Banana', 'Strawberry', 'Carrot', 'Beetroot', 'lemon')

In [81]:
items = []
for i in range (len(grocery_list)):
    items.append(grocery_list[i])
    
items.sort()
print(items)

['Apple', 'Banana', 'Beetroot', 'Carrot', 'Strawberry', 'lemon']

# 3. Write a python program to implement the following using list.

1.Create a list with integers (minimum 10 numbers)

2.How to display the last number in the list.

3.Command for displaying the values from the list [0:4]

4.Command for displaying the values from the list [2:]

5.Command for displaying the values from the list [:6]

In [83]:
nums = [1,2,3,4,5,6,7,8,9,10]

print(nums)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [84]:
print(nums[-1])

10

In [85]:
print(nums[1:5])

[2, 3, 4, 5]

In [86]:
print(nums[2:])

[3, 4, 5, 6, 7, 8, 9, 10]

In [87]:
print(nums[:6])

[1, 2, 3, 4, 5, 6]

# 4. Write a Python program: tuple1 = (10,50,20,40,30)

1.To display the elements 10 and 50 from tuple1

2.To display the length of a tuple1.

3.To find the minimum element from tuple1

4.To add all elements in the tuple1.

5.To display the same tuple1 multiple times

In [88]:
tuple1 = (10,50,20,40,30)
print(tuple1[:2])

(10, 50)

In [89]:
print(len(tuple1))

5

In [90]:
print(min(tuple1))

10

In [91]:
print(sum(tuple1))

150

In [93]:
rep = int(input("Enter count: "))
print(tuple1*rep)

Enter count: 3
(10, 50, 20, 40, 30, 10, 50, 20, 40, 30, 10, 50, 20, 40, 30)

# 5. Write a Python program:

1.To calculate the length of a string

2.To reverse words in a string

3.To display the same string multiple times

4.To concatenate two strings

5.Str1" South India", using string slicing to display "India"

In [59]:
movie = "Avenger End Game"
print(len(movie))

16

In [60]:
words = movie.split()
rev_words = words[::-1]
print(rev_words)

['Game', 'End', 'Avenger']

In [63]:
print((movie+"\n")*10)

Avenger End Game
Avenger End Game
Avenger End Game
Avenger End Game
Avenger End Game
Avenger End Game
Avenger End Game
Avenger End Game
Avenger End Game
Avenger End Game

In [64]:
movie = "Avengers"
tag = " End Game"

movie_title = movie+tag
print(movie_title)

Avengers End Game

In [15]:
Str1 = "South India"
print(Str1[6:])

India

# 6.Perform the following

1.Cretaing the dictionary.

2.Accessing the values and keys in the Dictionary.

3.Updating the dictionary using a function.

4.Clear and delete the dictionary values.

In [55]:
player = {'Name': "MSD", "Age": 45, "Sport":"cricket", "contry": "India"}
print(player)

{'Name': 'MSD', 'Age': 45, 'Sport': 'cricket', 'contry': 'India'}

In [56]:
for i, j in player.items():
    print(f"{i}:{j}")

Name:MSD
Age:45
Sport:cricket
contry:India

In [57]:
def update_player(player, i, j):
    player[i] = j
    
update_player(player, "Home town", "Ranchi")

print(player)

{'Name': 'MSD', 'Age': 45, 'Sport': 'cricket', 'contry': 'India', 'Home town': 'Ranchi'}

In [58]:
player_details = player.copy()

player.clear()

del player

# print(player)
print(player_details)

{'Name': 'MSD', 'Age': 45, 'Sport': 'cricket', 'contry': 'India', 'Home town': 'Ranchi'}

# 7.Python program to insert a number to any position in a list

In [31]:
nums = [12, 34, 32, 43, 67, 53, 99, 78, 102, 83, 56, 43]

print("number: ",nums)

nums.insert(3, 1000)
print('\n Insert 3rd position: ' ,nums)

number:  [12, 34, 32, 43, 67, 53, 99, 78, 102, 83, 56, 43]

 Insert 3rd position:  [12, 34, 32, 1000, 43, 67, 53, 99, 78, 102, 83, 56, 43]

# 8.Pyton program to delete an element from a list by index

In [28]:
print("number: ",nums)

nums.pop(4)

print("delete 4th element :",nums)

del nums[5]
print("delete 5th element :",nums)

number:  [12, 34, 32, 1000, 67, 99, 78, 102, 83, 56, 43]
delete 4th element : [12, 34, 32, 1000, 99, 78, 102, 83, 56, 43]
delete 5th element : [12, 34, 32, 1000, 99, 102, 83, 56, 43]

# 9.Write a program to display the numbers from 1 to 100

In [36]:
for num in range(1, 101):
    print(num)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

# 10.write a python program to find the sum of all items in a tuple

In [34]:
values = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1)
print(sum(values))

100

# 11 create a dictionary containing three lambda functions square, cube and square root

In [1]:
import math
calculate = {
    "Square": lambda x: x**2,
    "Cube": lambda x: x**3,
    "Squareroot": lambda x: math.sqrt(x)
}
number = int(input("Enter a number: "))
sq_res = calculate["Square"](number)
cb_res = calculate["Cube"](number)
sqrt_res = calculate["Squareroot"](number)
print(f"Square of {number} is {sq_res}")
print(f"Cube of {number} is {cb_res}")
print(f"Squareroot of {number} is {sqrt_res}")

Enter a number: 5
Square of 5 is 25
Cube of 5 is 125
Squareroot of 5 is 2.23606797749979

# 12 A list of words is given.

In [2]:
ls = ["hello", "Dear", "hOw", "ARe", "You"]
res = []
for i in ls:
    if i[1].isupper():
        res.append(i)
        
print(ls)
print(res)

['hello', 'Dear', 'hOw', 'ARe', 'You']
['hOw', 'ARe']

# 13. A dictionary of names and their weights on earth is given. Find how much they will weigh on the moon. (Use map and lambda functions) Formula: wMoon = (wEarth GMoon) / GEarth

In [3]:
# Weight of people in kg
WeightOnEarth = {'John': 45, 'Shelly': 65, 'Marry': 35}

In [4]:
# Gravitational force on the Moon: 1.622 m/s^2
GMoon = 1.622

In [5]:
# Gravitational force on the Earth: 9.81 m/s^2
GEarth = 9.81

In [6]:
# Calculate weight on the Moon for each person
WeightOnMoon = list(map(lambda person: (person[0], (person[1] * GMoon) / GEarth), WeightOnEarth.items()))

In [7]:
# Print the results
for person, weight_moon in WeightOnMoon:
    print(f"{person}'s weight on the Moon: {weight_moon:.2f} kg")

John's weight on the Moon: 7.44 kg
Shelly's weight on the Moon: 10.75 kg
Marry's weight on the Moon: 5.79 kg

# Control Structures

# 1. Write a python program to find the first N Prime numbers.

In [9]:
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

count = 0
sum_of_primes = 0
number = 2

while count < 10:
    if is_prime(number):
        sum_of_primes += number
        count += 1
    number += 1

print(f"The sum of the first 10 prime numbers is: {sum_of_primes}")

The sum of the first 10 prime numbers is: 129

# 2. Write the python code that calculates the salary of an employee. Prompt the user to enter the Basic Salary, HRA, TA, and DA. Add these components to calculate the Gross Salary. Also, deduct 10% of salary from the Gross Salary to be paid as tax and display gross minus tax as net salary.

In [13]:
def calculate_salary(basic_salary, hra, ta, da):
    gross_salary = basic_salary + hra + ta + da
    tax = gross_salary * 0.1
    net_salary = gross_salary - tax
    return net_salary
basic_salary = float(input("Enter the Basic Salary: "))
hra = float(input("Enter the HRA: "))
ta = float(input("Enter the TA: "))
da = float(input("Enter the DA: "))

net_salary = calculate_salary(basic_salary, hra, ta, da)

print("Net Salary:",net_salary)

Enter the Basic Salary: 25000
Enter the HRA: 1500
Enter the TA: 1000
Enter the DA: 500
Net Salary: 25200.0

# 3. Write a python program to search for a string in the given list.

In [40]:
def search_string(list, string):
    for i in range(len(list)):
         if list[i] == string:
            return i
    return -1
list = ["apple", "banana", "cherry", "durian"]

string = input("Enter the string to search: ")

index = search_string(list, string)

if index == -1:
    print("String not found")
else:
    print("String found at index",index)

Enter the string to search: durian
String found at index 3

# 4. Write a Python function that accepts a string and calculates the number of upper-case letters and lower-case letters.

In [47]:
def Count(str):
    upper, lower = 0, 0
    for i in range(len(str)):
        if str[i].isupper():
            upper += 1
        else: 
            str[i].islower()
            lower += 1
    print('No.of.Upper case letters:', upper)
    print('No.of.Lower case letters:', lower)
    
str = "MPHasis"
Count(str)

No.of.Upper case letters: 3
No.of.Lower case letters: 4

# 5. Write a program to display the sum of odd numbers and even numbers that fall between 12 and 37

In [65]:
sum_odd = 0
sum_even = 0

for num in range(12, 38):
    if num % 2 == 0:
        sum_even += num
    else:
        sum_odd += num

print("Sum of even numbers:", sum_even)
print("Sum of odd numbers:", sum_odd)

Sum of even numbers: 312
Sum of odd numbers: 325

# 6. Write a python Program to print the table of any number.

In [66]:
num = int(input("Enter a number: "))

print(f"Multiplication Table of {num}:")
for i in range(1, 11):
    print(f"{num} x {i} = {num * i}")

Enter a number: 5
Multiplication Table of 5:
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

# 7. Write a Python program to sum the first 10 prime numbers,

In [67]:
def is_prime(num):
    if num <= 1:
        return False
    if num <= 3:
        return True
    if num % 2 == 0 or num % 3 == 0:
        return False
    i = 5
    while i * i <= num:
        if num % i == 0 or num % (i + 2) == 0:
            return False
        i += 6
    return True

count = 0
number = 2
prime_sum = 0

while count < 10:
    if is_prime(number):
        prime_sum += number
        count += 1
    number += 1

print("The sum of the first 10 prime numbers is:", prime_sum)

The sum of the first 10 prime numbers is: 129

# 8.Write a python program to implement arithmetic operations using nested if statement.

In [68]:
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))

operation = input("Enter an arithmetic operation (+, -, *, /): ")

if operation == "+":
    result = num1 + num2
elif operation == "-":
    result = num1 - num2
elif operation == "*":
    result = num1 * num2
elif operation == "/":
    if num2 != 0:
        result = num1 / num2
    else:
        result = "Division by zero is not allowed."
else:
    result = "Invalid operation"

print(f"Result: {result}")

Enter the first number: 5
Enter the second number: 7
Enter an arithmetic operation (+, -, *, /): +
Result: 12.0

# 9.Write a python program to take the temperature in Celsius and convert it to a Fahrenheit.

In [69]:
celsius = float(input("Enter temperature in Celsius: "))

fahrenheit = (celsius * 9/5) + 32

print(f"{celsius} degrees Celsius is equal to {fahrenheit} degrees Fahrenheit")

Enter temperature in Celsius: 5
5.0 degrees Celsius is equal to 41.0 degrees Fahrenheit

# 10.Write a python program to find a maximum and minimum number in a list without using an inbuilt function.

In [72]:
def find_max_min(numbers):
    
    if not numbers:
        return None, None

    maximum = minimum = numbers[0]
    for number in numbers:
        if number > maximum:
            maximum = number
        if number < minimum:
            minimum = number

    return maximum, minimum

# 11.Write a program in python to print out the number of seconds in 30-day month 30 days, 24 hours in a day, 60 minutes per day, 60 seconds in a minute.

In [73]:
days_in_month = 30
hours_in_day = 24
minutes_in_hour = 60
seconds_in_minute = 60

seconds_in_30_days = days_in_month * hours_in_day * minutes_in_hour * seconds_in_minute

print(f"There are {seconds_in_30_days} seconds in a 30-day month.")

There are 2592000 seconds in a 30-day month.

# 12.Write a program in python to print out the number of seconds in a year.

In [74]:
days_per_year = 365
hours_per_day = 24
minutes_per_hour = 60
seconds_per_minute = 60

total_seconds = days_per_year * hours_per_day * minutes_per_hour * seconds_per_minute

print(f"The number of seconds in a year (assuming 365 days) is: {total_seconds} seconds")

The number of seconds in a year (assuming 365 days) is: 31536000 seconds

# 13.A high-speed train can travel at an average speed of 150 mph, how long will it take a train travelling at this speed to travel from London to Glasgow which is 414 miles away?

In [75]:
distance = 414
speed = 150
time_hours = distance / speed

hours = int(time_hours)
minutes = (time_hours - hours) * 60

print(f"It will take approximately {hours} hours and {minutes:.2f} minutes to travel from London to Glasgow.")

It will take approximately 2 hours and 45.60 minutes to travel from London to Glasgow.

# 14.Write a python program that defines a variable called days in each school year and assign 192 to the variable. The program should then print out the total hours that you spend in school from year 7 to year 11, if each day you spend 6 hours in school days_in_each_school_year = 192

In [76]:
days_in_each_school_year = 192

# Years 7 to 11
years = range(7, 12)

# Calculate the total hours spent in school
total_hours = sum(year * days_in_each_school_year * 6 for year in years)

print(f"Total hours spent in school from year 7 to year 11: {total_hours} hours")

Total hours spent in school from year 7 to year 11: 51840 hours

# 15.If the age of Ram,Sam and Khan are input through the keyboard,write a python program to determine the eldest and youngest of the three.

In [78]:
ram_age = int(input("Enter Ram's age: "))
sam_age = int(input("Enter Sam's age: "))
khan_age = int(input("Enter Khan's age: "))

# Determine the eldest and youngest
if ram_age >= sam_age and ram_age >= khan_age:
    eldest = "Ram"
    if sam_age <= khan_age:
        youngest = "Sam"
    else:
        youngest = "Khan"
elif sam_age >= ram_age and sam_age >= khan_age:
    eldest = "Sam"
    if ram_age <= khan_age:
        youngest = "Ram"
    else:
        youngest = "Khan"
else:
    eldest = "Khan"
    if ram_age <= sam_age:
        youngest = "Ram"
    else:
        youngest = "Sam"

# Print the results
print(f"The eldest among Ram, Sam, and Khan is: {eldest}")
print(f"The youngest among Ram, Sam, and Khan is: {youngest}")

Enter Ram's age: 25
Enter Sam's age: 23
Enter Khan's age: 34
The eldest among Ram, Sam, and Khan is: Khan
The youngest among Ram, Sam, and Khan is: Sam

# 16.Write a python program to rotate a list by right in times with and without slicing technique.

In [79]:
def rotate_list_using_slicing(input_list, n):
    if len(input_list) == 0:
        return input_list
    
    n %= len(input_list)  # Ensure n is within the length of the list
    rotated_list = input_list[-n:] + input_list[:-n]
    return rotated_list

# Input list
my_list = [1, 2, 3, 4, 5]
n = int(input("Enter the number of times to rotate to the right: "))

rotated_list = rotate_list_using_slicing(my_list, n)
print("Rotated list using slicing technique:", rotated_list)

def rotate_list_without_slicing(input_list, n):
    if len(input_list) == 0:
        return input_list
    
    n %= len(input_list)  # Ensure n is within the length of the list
    for _ in range(n):
        temp = input_list.pop()
        input_list.insert(0, temp)
    return input_list

# Input list
my_list = [1, 2, 3, 4, 5]
n = int(input("Enter the number of times to rotate to the right: "))

rotated_list = rotate_list_without_slicing(my_list, n)
print("Rotated list without slicing technique:", rotated_list)

Enter the number of times to rotate to the right: 45
Rotated list using slicing technique: [1, 2, 3, 4, 5]
Enter the number of times to rotate to the right: 25
Rotated list without slicing technique: [1, 2, 3, 4, 5]

# 17.Python program to print the patterns given below

In [80]:
n = int(input("Enter the number of rows: "))

def binomial_coefficient(n, k):
    if k == 0 or k == n:
        return 1
    return binomial_coefficient(n - 1, k - 1) + binomial_coefficient(n - 1, k)

for i in range(n):
    for j in range(i + 1):
        print(binomial_coefficient(i, j), end=" ")
    print()

Enter the number of rows: 5
1
1 1
1 2 1
1 3 3 1
1 4 6 4 1

In [81]:
get_ipython().run_line_magic('pinfo', 'program')

n = 5  # Number of rows

for i in range(n):
    # Inner loop for columns
    for j in range(i + 1):
        print("*", end=" ")
    print()  # Move to the next line after each row


3 # Input the number of rows for the pattern
n = int(input("Enter the number of rows: "))

# Loop to print the pattern
for i in range(1, n + 1):
    print(" " * (n - i), end="")  # Print spaces before asterisks
    print("* " * i)  # Print asterisks with a space in between


# In[25]:


word = "Python"
for i in range(len(word) + 1):
    print(word[:i])
print("Python program")

Object `program` not found.
*
* *
* * *
* * * *
* * * * *
Enter the number of rows: 5
    *
   * *
  * * *
 * * * *
* * * * *

P
Py
Pyt
Pyth
Pytho
Python
Python program