In [45]:
%matplotlib inline
import pandas as pd

In [ ]:
from IPython.core.display import HTML
css=open('style-table.css').read()+open('style-notebook.css').read() 
HTML('<style>()</style>.format(css)')

In [84]:
cast = pd.read_csv('cast.csv')
titles = pd.read_csv('titles.csv') 
titles.head()

                  title  year
0    Tasveer Mere Sanam  1996
1              Only You  1994
2  El pueblo del terror  1970
3               Machine  2007
4                  MARy  2008

# How many movies are listed in the titles dataframe?

In [52]:
total_movies = len(titles)
print("Total number of movies listed:", total_movies)

Total number of movies listed: 244914

# What are the earliest two films listed in the titles dataframe?

In [53]:
earliest_films = titles.sort_values('year').head(2)
print("The earliest two films listed:")
print(earliest_films)

The earliest two films listed:
                     title  year
193222          Miss Jerry  1894
51388   The Startled Lover  1898

# How many movies have the title "Hamlet"?

In [54]:
hamlet_movies = titles[titles['title'] == 'Hamlet']
num_hamlet_movies = len(hamlet_movies)
print("Number of movies with the title 'Hamlet':", num_hamlet_movies)

Number of movies with the title 'Hamlet': 20

# How many movies are titled "North by Northwest"?

In [55]:
north_by_nw_movies = titles[titles['title'] == 'North by Northwest']
num_north_by_nw_movies = len(north_by_nw_movies)
print("Number of movies with the title 'North by Northwest':", num_north_by_nw_movies)

Number of movies with the title 'North by Northwest': 1

# When was the first movie titled "Hamlet" made?

In [56]:
first_hamlet_movie = hamlet_movies.sort_values('year').head(1)
print("The first movie titled 'Hamlet' was made in:")
print(first_hamlet_movie['year'].values[0])

The first movie titled 'Hamlet' was made in:
1910

# List all of the "Treasure Island" movies from earliest to most recent.

In [57]:
treasure_island_movies = titles[titles['title'] == 'Treasure Island'].sort_values('year')
print("List of 'Treasure Island' movies from earliest to most recent:")
print(treasure_island_movies)

List of 'Treasure Island' movies from earliest to most recent:
                  title  year
55686   Treasure Island  1918
196514  Treasure Island  1920
141822  Treasure Island  1934
77354   Treasure Island  1950
65051   Treasure Island  1972
37238   Treasure Island  1973
173051  Treasure Island  1985
27076   Treasure Island  1999

# How many movies were made in the year 1950?

In [58]:
movies_1950 = len(titles[titles['year'] == 1950])
print("Number of movies made in the year 1950:", movies_1950)

Number of movies made in the year 1950: 1113

# How many movies were made in the year 1960

In [59]:
movies_1960 = len(titles[titles['year'] == 1960])
print("Number of movies made in the year 1960:", movies_1960)

Number of movies made in the year 1960: 1549

# How many movies were made from 1950 through 1959?

In [60]:
movies_1950s = len(titles[(titles['year'] >= 1950) & (titles['year'] <= 1959)])
print("Number of movies made from 1950 through 1959:", movies_1950s)

Number of movies made from 1950 through 1959: 12934

# In what years has a movie titled "Batman" been released?

In [61]:
batman_movies = titles[titles['title'] == 'Batman']
batman_release_years = batman_movies['year'].unique()
print("Years in which a movie titled 'Batman' has been released:", batman_release_years)

Years in which a movie titled 'Batman' has been released: [1943 1989]

# How many roles were there in the movie "Inception"?

In [62]:
inception_movie = titles[(titles['title'] == 'Inception') & (titles['year'] == 2010)]
inception_cast = pd.read_csv('cast.csv')
inception_roles = len(inception_cast[(inception_cast['title'] == 'Inception') & (inception_cast['year'] == 2010)])
print("Number of roles in the movie 'Inception':", inception_roles)

Number of roles in the movie 'Inception': 78

# How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [63]:

roles_without_n_value = len(inception_cast[(inception_cast['title'] == 'Inception') & (inception_cast['year'] == 2010) & inception_cast['n'].isna()])
print("Number of roles in 'Inception' without an 'n' value:", roles_without_n_value)

Number of roles in 'Inception' without an 'n' value: 27

# How many roles in the movie "Inception" did receive an "n" value?

In [64]:

roles_with_n_value = len(inception_cast[(inception_cast['title'] == 'Inception') & (inception_cast['year'] == 2010) & inception_cast['n'].notna()])
print("Number of roles in 'Inception' with an 'n' value:", roles_with_n_value)

Number of roles in 'Inception' with an 'n' value: 51

# Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [65]:
north_by_northwest_cast = inception_cast[(inception_cast['title'] == 'North by Northwest')].dropna(subset=['n']).sort_values('n')
print("Cast of 'North by Northwest' in 'n' value order:")
print(north_by_northwest_cast[['name', 'n']])

Cast of 'North by Northwest' in 'n' value order:
                         name     n
871426             Cary Grant   1.0
3518333       Eva Marie Saint   2.0
1457165           James Mason   3.0
3157232   Jessie Royce Landis   4.0
356707         Leo G. Carroll   5.0
3048272  Josephine Hutchinson   6.0
1695173           Philip Ober   7.0
1275337         Martin Landau   8.0
2447081         Adam Williams   9.0
1811387          Edward Platt  10.0
665768      Robert Ellenstein  11.0
2295714          Les Tremayne  12.0
464736        Philip Coolidge  13.0
1508344         Patrick McVey  14.0
206471           Edward Binns  15.0
1384780             Ken Lynch  16.0

# Display the entire cast, in n-order, of the 1972 film "Sleuth"

In [66]:

sleuth_1972_cast = inception_cast[(inception_cast['title'] == 'Sleuth') & (inception_cast['year'] == 1972)].sort_values('n')
print("Cast of the 1972 film 'Sleuth' in 'n' value order:")
print(sleuth_1972_cast[['name', 'n']])

Cast of the 1972 film 'Sleuth' in 'n' value order:
                       name    n
1705394    Laurence Olivier  1.0
326773        Michael Caine  2.0
373876       Alec Cawthorne  3.0
1465483  John (II) Matthews  4.0
2724553  Eve (III) Channing  5.0
1448690        Teddy Martin  6.0

# Display the entire cast, in "n"-order, of the 2007 version of "Sleuth"

In [67]:

sleuth_2007_cast = inception_cast[(inception_cast['title'] == 'Sleuth') & (inception_cast['year'] == 2007)].sort_values('n')
print("Cast of the 2007 version of 'Sleuth' in 'n' value order:")
print(sleuth_2007_cast[['name', 'n']])

Cast of the 2007 version of 'Sleuth' in 'n' value order:
                        name    n
326774         Michael Caine  1.0
1293634             Jude Law  2.0
1805907        Harold Pinter  3.0
260242       Kenneth Branagh  NaN
373877   Alec (II) Cawthorne  NaN
2724552    Eve (II) Channing  NaN
3370424    Carmel O'Sullivan  NaN

# How many roles were credited in the silent 1921 version of Hamlet?

In [68]:

roles_hamlet_1921 = len(inception_cast[(inception_cast['title'] == 'Hamlet') & (inception_cast['year'] == 1921)])
print("Number of roles credited in the silent 1921 version of 'Hamlet':", roles_hamlet_1921)

Number of roles credited in the silent 1921 version of 'Hamlet': 9

# How many roles were credited in Branagh's 1996 Hamlet?

In [69]:

roles_hamlet_1996 = len(inception_cast[(inception_cast['title'] == 'Hamlet') & (inception_cast['year'] == 1996)])
print("Number of roles credited in Branagh's 1996 'Hamlet':", roles_hamlet_1996)

Number of roles credited in Branagh's 1996 'Hamlet': 54

# How many "Hamlet" roles have been Rated in all film credits through history?

In [70]:

hamlet_roles = len(inception_cast[(inception_cast['title'] == 'Hamlet') & inception_cast['n'].notna()])
print("Number of 'Hamlet' roles with an 'n' value through history:", hamlet_roles)

Number of 'Hamlet' roles with an 'n' value through history: 249

# How many people have played an "Ophelia"?

In [71]:

ophelia_roles = len(inception_cast[(inception_cast['character'] == 'Ophelia')])
unique_ophelia_actors = len(inception_cast[(inception_cast['character'] == 'Ophelia')]['name'].unique())
print("Number of roles as 'Ophelia':", ophelia_roles)
print("Number of unique actors who played 'Ophelia':", unique_ophelia_actors)

Number of roles as 'Ophelia': 117
Number of unique actors who played 'Ophelia': 115

# How many people have played a role called "The Dude"?

In [72]:

dude_roles = cast[cast['character'] == 'The Dude']
num_dude_actors = len(dude_roles['name'].unique())
print("Number of people who have played a role called 'The Dude':", num_dude_actors)

Number of people who have played a role called 'The Dude': 19

# How many people have played a role called "The Stranger"?

In [73]:

stranger_roles = cast[cast['character'] == 'The Stranger']
num_stranger_actors = len(stranger_roles['name'].unique())
print("Number of people who have played a role called 'The Stranger':", num_stranger_actors)

Number of people who have played a role called 'The Stranger': 202

# How many roles has Sidney Poitier played throughout his career?

In [74]:

sidney_poitier_roles = len(cast[cast['name'] == 'Sidney Poitier'])
print("Number of roles Sidney Poitier has played throughout his career:", sidney_poitier_roles)

Number of roles Sidney Poitier has played throughout his career: 43

# How many roles has Judi Dench played?

In [75]:

judi_dench_roles = len(cast[cast['name'] == 'Judi Dench'])
print("Number of roles Judi Dench has played:", judi_dench_roles)

Number of roles Judi Dench has played: 55

# List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [76]:

cary_grant_supporting_1940s = cast[(cast['name'] == 'Cary Grant') & (cast['n'] == 2) & (cast['year'] // 10 == 194)]
supporting_roles_by_year = cary_grant_supporting_1940s.sort_values('year')
print("Supporting roles played by Cary Grant in the 1940s, in order by year:")
print(supporting_roles_by_year[['character', 'year']])

Supporting roles played by Cary Grant in the 1940s, in order by year:
          character  year
871423   Nick Arden  1940
871433  Roger Adams  1941

# List the leading roles that Cary Grant played in the 1940s in order by year.

In [77]:

cary_grant_leading_1940s = cast[(cast['name'] == 'Cary Grant') & (cast['n'] == 1) & (cast['year'] // 10 == 194)]
leading_roles_by_year = cary_grant_leading_1940s.sort_values('year')
print("Leading roles played by Cary Grant in the 1940s, in order by year:")
print(leading_roles_by_year[['character', 'year']])

Leading roles played by Cary Grant in the 1940s, in order by year:
                                   character  year
871448                           Matt Howard  1940
871407                          Walter Burns  1940
871450                    C. K. Dexter Haven  1940
871438                      Johnnie Aysgarth  1941
871452                          Leopold Dilg  1942
871429                 Patrick 'Pat' O'Toole  1942
871398                         Capt. Cassidy  1943
871422  Joe Adams -posing as Joe Bascopolous  1943
871430                           Jerry Flynn  1944
871390                     Mortimer Brewster  1944
871425                            Ernie Mott  1944
871424                           Cole Porter  1946
871427                                Devlin  1946
871444                           Dick Nugent  1947
871445                                Dudley  1947
871421                         Jim Blandings  1948
871402                     Dr. Madison Brown  1948
871411                 Captain Henri Rochard  1949

# How many roles were available for actors in the 1950s?

In [78]:

roles_1950s_actors = len(cast[(cast['year'] // 10 == 1950) & (cast['type'] == 'actor')])
print("Number of roles available for actors in the 1950s:", roles_1950s_actors)

Number of roles available for actors in the 1950s: 0

# How many roles were available for actresses in the 1950s?

In [79]:

roles_1950s_actresses = len(cast[(cast['year'] // 10 == 1950) & (cast['type'] == 'actress')])
print("Number of roles available for actresses in the 1950s:", roles_1950s_actresses)

Number of roles available for actresses in the 1950s: 0

# How many leading roles (n=1) were available from the beginning of film history through 1980?

In [80]:

leading_roles_through_1980 = len(cast[(cast['n'] == 1) & (cast['year'] <= 1980)])
print("Number of leading roles (n=1) available through 1980:", leading_roles_through_1980)

Number of leading roles (n=1) available through 1980: 65140

# How many non-leading roles were available from the beginning of film history through 1980?

In [81]:

non_leading_roles_through_1980 = len(cast[(cast['n'] != 1) & (cast['year'] <= 1980)])
print("Number of non-leading roles available through 1980:", non_leading_roles_through_1980)

Number of non-leading roles available through 1980: 1117667

# How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [82]:

roles_without_n_rank_through_1980 = len(cast[(cast['n'].isna()) & (cast['year'] <= 1980)])
print("Number of roles through 1980 without a numeric 'n' rank:", roles_without_n_rank_through_1980)

Number of roles through 1980 without a numeric 'n' rank: 448347